# embedding配置
EMBEDDING_API_KEY=YOUR_API_KEY
EMBEDDING_MODEL=text-embedding-v4
EMBEDDING_DIMENSION=1024
EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# 长期记忆配置
#MEMORY_BASE_PATH=

# mem0记忆提取模型（重要：此处请选择OpenAI的模型，否则可能出现json生成错误）
MEM0_EXTRACTION_MODEL=gpt-5.4
MEM0_EXTRACTION_BASE_URL=https://www.dmxapi.cn/v1
MEM0_EXTRACTION_API_KEY=YOUR_API_KEY

# 编程AI配置
CODING_API_KEY=YOUR_API_KEY
CODING_MODEL=gpt-5.3-codex
CODING_BASE_URL=https://www.dmxapi.cn/v1
CODING_TEMPERATURE=0.3

# Tavily配置
TAVILY_API_KEY=YOUR_API_KEY

# VLM配置
VLM_API_KEY=YOUR_API_KEY
VLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
VLM_MODEL=qwen3-vl-plus
